.jumbotron h1 {
 font-family: 'Bauhaus 93', sans-serif;
 font-weight: 300;
 
}
.col-sm-9 {
 font-family: 'Georgia', sans-serif;
  
}
 .col-sm-6
 {
 	font-family: 'Georgia',sans-serif;
 }
section .row h3 {
	font-family: 'Georgia', sans-serif;

}

section .row p {
	font-size: 17px;
	font-family: 'Verdana', sans-serif;
	font-style: normal;
	  font-weight: normal;

}
 
section .row table {
	font-size: 17px;
	font-family: 'Arial', sans-serif;
	font-style: normal;
	  font-weight: normal;

}
  
 

 
  
